
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Log In</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<header>
		<h1>Log In</h1>
        <a href="/">Home page</a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
		<form action="/login" method="post">
			<p>
				<label for="user">Username</label><br />
				<input type="text" name="user" placeholder="your username" value="{{body.user}}" autofocus>
			</p>
			<p>
				<label for="pass">Password</label><br />
				<input type="password" name="pass" placeholder="your password" value="{{body.pass}}">
			</p>
			<input type="hidden" name="referrer" value="{{referrer}}">
			<p><input type="submit" value="Log in"></p>
            <p>Don't have a account <a href="/register">Register</a></p>
		</form>
		</main>
	</body>
</html>
